body {
  margin: 0;
}

#mirror {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transform: translate3d(0px, 0px, 0px);
}

#slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
}

main section p {
  background-color: white;
  height: 200px;
  margin: 200px 0px;
}