@font-face {
  font-family: 'Alike';
  font-style: normal;
  font-weight: 400;
  src: local('Alike'),
       local('Alike-Regular'),
       url('../font/Alike.woff') format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: Alike;
}

/*#main-home { border-top: 5px solid #9900ff; }
@media (min-width: 768px) {  #main-home { border-top: 5px solid #00ff00; } }
@media (min-width: 992px) {  #main-home { border-top: 5px solid #ff9900; } }
@media (min-width: 1200px) { #main-home { border-top: 5px solid #ff0000; } }*/

/* - Parallax --------------------------------------------------------------- */

#parallax-mirror {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  text-align: center;
}

#parallax-mirror .slider {
  width: 100%;
  position: absolute;
  left: 0;
}

#parallax-mirror .title {
  margin-top: 1em;
  width: 100%;
  position: absolute;
  color: white;
  text-shadow: 0 0 0.25em rgba(0, 72, 143, 0.75);
}

/* - Navi ------------------------------------------------------------------- */

#main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4a7198;
  z-index: 100;
  opacity: 0;
  transition: opacity 100ms;
}

#main-nav ul {
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-nav li {
  line-height: 3em;
}

/* - Main ------------------------------------------------------------------- */

#main-home {
  padding-top: 3em;
  background-color: #ffffff;
}

/* - Skill ------------------------------------------------------------------ */

#skill-tabs li {
  vertical-align: bottom;
}

#skill-svg .t-axis line,
#skill-svg .t-axis path {
  shape-rendering: crispEdges;
  stroke: #000;
}

#skill-svg .t-axis path {
  fill: none;
  stroke: none;
  transform: scaleY(-1);
}

#skill-svg .t-axis line {
  stroke: none;
  transform: translate(0, 6px);
}

#skill-svg .t-axis .tick text {
  font-size: 12px;
  text-anchor: start !important;
}

#skill-svg .y-axis line,
#skill-svg .y-axis path {
  shape-rendering: crispEdges;
  stroke: none;
  fill: none;
}

#skill-svg .y-axis path {
  stroke: none;
}

#skill-svg .y-axis .tick text {
  font-size: 12px;
}

#skill-svg .zebra-even {
  fill: #ebebeb;
}

#skill-svg .zebra-odd {
  fill: #ffffff;
}