/* Fonts */
@font-face {
  font-family: 'Alike';
  font-style: normal;
  font-weight: 400;
  src: local('Alike'), local('Alike-Regular'), url('../font/Alike.woff') format('woff');
}
/*@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url('../font/Karla.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../font/Open-Sans.woff') format('woff');
}
@font-face {
  font-family: 'Imprima';
  font-style: normal;
  font-weight: 400;
  src: local('Imprima'), local('Imprima-Regular'), url('../font/Imprima.woff') format('woff');
}*/

/* Body */
body {
  position: relative;
  margin: 0px auto 0px auto;
  padding-top: 30px;
  width: 1024px;
  box-shadow: 0px 0px 35px #456;
}

/* Header */
#PageHeaderAnchor {
  text-decoration: none;
}
#PageHeader {
  height: 100px;
  border: 3px solid #456;
  border-left-width: 0px;
  border-right-width: 0px;
}
#PageHeader.banner1 { background-image: url('../img/banner1.jpg'); }
#PageHeader.banner2 { background-image: url('../img/banner2.jpg'); }
#PageHeader.banner3 { background-image: url('../img/banner3.jpg'); }

/* Title and Tagline */
#PageTitle, #PageTagline {
  color: white;
  font-family: Alike, sans-serif;
  margin-left: 90px;
}
#PageTitle {
  margin-top: 17px;
  margin-bottom: -4px;
  font-size: 27pt;
}
#PageTagline {
  font-size: 10pt;
}

/* Page Margin */
#PageMargin {
  border-right: 1px dashed #666;
  width: 75px;
  height: 100%;
  position: absolute;
  top: 0px;
}

/* Page Body */
#PageBody {
  padding: 0px 40px 30px 90px;
  font-family: Arial, sans-serif;
  font-size: 12pt;
}

/* h1-6 */
h1 {
  border-bottom: 1px solid #666;
}
h2 {
  
}
h3, h4, h5, h6 {
  
}
